.prev,
.next {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 45%;
  background: rgba(200, 10, 100, 0.5);
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background: rgba(200, 10, 100, 1);
}

.card-list {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 0 0 30px;
}

.card {
  max-width: 269px;
  padding: 10px;
  width: 100%;
  max-height: 500px;
  height: 500px;
}

.card-image {
  position: relative;
  overflow: hidden;
  background-size: cover;
  max-width: 269px;
  max-height: 269px;
  width: 100%;
  height: 100%;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px 20px 10px 20px;
  border-radius: 20px;
  background: #000;
  transition: all 0.3s ease;
  color: #fff;
  min-width: 100px;
  cursor: pointer;
}

.button:hover {
  background: red;
}

.cart-pop-up {
  background-color: #fff;
  width: 500px;
  border: solid black 1px;
  max-height: 700px;
  height: 100%;
}

.cart-products {
  max-height: 400px;
  height: 100%;
  overflow-y: auto;
}

.cart-total-price {
  border-top: solid black 1px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: space-between;
}

.cart-item {
  display: flex;
  justify-content: start;
  gap: 10px;
  align-items: center;
  margin: 10px;
}

.cart-item-image {
  width: 80px;
  height: 80px;
  background-size: cover;
  background-position: center;
  margin: 5px;
}

.cart-item-remove {
  margin-left: auto;
  cursor: pointer;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 100%;
  height: 80vh;
}

.sign-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  padding: 20px;
  border: solid black 1px;
  border-radius: 10px;
}

.input {
  height: 30px;
  border-radius: 5px;
  transition: all 0.3s ease;
}

.input:focus {
  background-color: #000;
  color: #fff;
}

.cart-table {
  border-collapse: collapse;
  width: 100%;
  min-width: 992px;
}

.table-head {
  font-size: 13px;
  color: #555555;
  line-height: 1.5;
  text-transform: uppercase;
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: bold;
}

.column-1 {
  width: 225px;
  padding-left: 50px;
}

.column-2 {
  width: 330px;
  padding-right: 30px;
}

.column-3 {
  width: 133px;
  padding-right: 30px;
}

.column-4 {
  width: 355px;
  padding-right: 125px;
}

.column-5 {
  padding-right: 30px;
}

.cart-table-row {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}